body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;

}
#dark-toggle{
    border-radius: 12px;
    color: #f4f4f4;
    background-color: #2a2a2a;
}
body.dark-mode {
    background-color: #f4f4f4;
  }
  
body.dark-mode .calculator,
body.dark-mode .title,
body.dark-mode .buttons {
    background-color: #ffffff;
    color: #000000;
  }
  
body.dark-mode #result {
    background-color: #ddd;
    color: #222;
  }
  
body.dark-mode button {
    background-color: rgb(241, 240, 240);
    color: #111;
  }
.calculator{
    background: #2a2a2a;
    padding: 20px;
    border-radius: 15px ;
    box-shadow:  0 5px 15px rgba(0,0,0,0.3);

}
.title {
    color: white;
    text-align:center;
    font-weight: bold;

}
#result{
    height: 50px;
    width: 100%;
    font-size: 1.8rem;
    border: 5px solid rgb(20, 3, 3);
    text-align: right;
    border-radius: 12px;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    background:#2a2a2a;
    gap:10px;
}
.buttons button {
    border-radius: 6px;
    font-size:larger;
    text-align: center;
    padding: 14px;
    background-color: #2a2a2a;
    color:aliceblue;
    transition: background-color 0.2s ease;

}
.buttons button:hover {
    background-color: #888;
  }

